.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.meals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-right: 24px;
}

